<div id="signup">
    <div>
        <h1>PakLite</h1>
        <div id="pitch">
            <p>Prepare for ease of travel</p>
            <p>With none of the hassle</p>
        </div>
        <div id="submission">
            <label for="email-form">Sign up for the latest PakLite news!</label>
            <input id="email-form" placeholder="me@email.com" />
        </div>
    </div>
</div>
